.container {
  width: 100%; 
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
}

.Header,
.Main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  background: rgb(72, 116, 170);
}

.Main {
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 auto;
}

