.ProductContainer {
  display: flex;
  background: #edf0f6;
  max-width: 400px;
}

.Product {
  padding: 10px;
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: space-between;
  
}

.img {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  color: rgb(61, 98, 193);
  flex-grow: 1;
}

.article,
.articleText,
.color,
.colorText {
  color: rgb(61, 98, 193);
}

.article,
.color {
  font-size: 12px;  
}

.bottom {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 5px;
}

.cart,
.favorites {
  color: #c13d3d;
  cursor: pointer;
  transition: all 300ms ease;
}

.cart:hover,
.favorites:hover {
  color: #ff2929;
}

.price {
  text-align: right;
  font-size: 18px;
  color: rgb(61, 98, 193);
}

.modalAddCart {
  display: flex;
  font-weight: normal;
  gap: 10px;

  .title,
  .price {
    padding: 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
  }

  .sds {
    color: #cc1934;
    background: #1c8646;
  }
}