
body {
  margin: 0;
  background: rgb(209, 218, 228);
  height: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 4px 8px;
  font-size: 16px;
}

h1 {
  font-size: 16px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 12px;
}
h4 {
  font-size: 10px;
}

p {
  margin: 10px 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 300ms ease;
}

a:hover {
  color: rgb(11, 28, 54);
}

#root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
  gap: 16px;
}